{% extends 'base.html' %}
{% block html_header %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      .background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1000;

        /* 숨기기 */
        z-index: -1;
        opacity: 0;
      }

      .show {
        opacity: 1;
        z-index: 1000;
        transition: all 0.5s;
      }

      .window {
        position: relative;
        width: 100%;
        height: 100%;
      }

      .popup {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
        box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);

        /* 임시 지정 */
        width: 100px;
        height: 100px;

        /* 초기에 약간 아래에 배치 */
        transform: translate(-50%, -40%);
      }

      .show .popup {
        transform: translate(-50%, -50%);
        transition: all 0.5s;
      }
    </style>
{% endblock %}


{% block html_body %}

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">주간/주말 박스오피스</h1>
        <div class="btn-toolbar mb-2 mb-md-0">

        </div>
        <div class="navbar">
        <input id="searchDate" type="date" class="form-control form-control-light w-100">
        <a class="btn btn-outline-secondary" onclick="boxoffice_weekly()">날짜검색</a>
        </div>
      </div>


      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">포스터 이미지</th>
              <th scope="col">영화제목</th>
              <th scope="col">개봉일</th>
              <th scope="col">상세보기</th>
            </tr>
          </thead>
          <tbody>
            <tr>
{#              <td>1,001</td>#}
{#              <td>random</td>#}
{#              <td>data</td>#}
{#              <td>placeholder</td>#}
{#              <td>text</td>#}
            </tr>
          </tbody>
        </table>
      </div>
    </main>
{#    <script>#}
{#      function show() {#}
{#        document.querySelector(".background").className = "background show";#}
{#      }#}
{##}
{#      function close() {#}
{#        document.querySelector(".background").className = "background";#}
{#      }#}
{##}
{#      document.querySelector("#show").addEventListener("click", show);#}
{#      document.querySelector("#close").addEventListener("click", close);#}
{#    </script>#}
{% endblock %}